.post-type-archive-gallery,
.post-type-archive-podcast {
  .archive-header {
    position: relative;
    margin-bottom: 250rem;
    @include for-phone {
      padding-top: 950rem;
      margin-bottom: 1000rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 139.139852rem;
      height: 280.159973rem;
      background: url("../../assets/icons/chevron-down-decoration.svg");
      @include bg-props(cover, center, no-repeat);
      @include for-phone {
        height: 650rem;
        width: 300rem;
        top: 90rem;
      }
    }
    h2 {
      padding: 0 37.6054rem;
      background: $yellow;
      font-size: 127.8582rem;
      color: #fff;
      font-weight: $bold;
      text-transform: uppercase;
      line-height: 1;
      width: fit-content;
      width: -moz-fit-content;
      @include for-phone {
        font-size: 400rem;
      }
    }
  }
  .archive-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 88rem;
      left: 0;
      width: 85%;
      height: 100%;
      background: #08338e;
      background: linear-gradient(180deg, #08338e 64.4%, white 64.4%);
      z-index: -1;
      pointer-events: none;
      @include for-phone {
        width: 100%;
        top: 700rem;
        height: 80%;
      }
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 15%;
    //   height: 100%;
    //   background: #0f2765;
    //   background: linear-gradient(180deg, white 64.4%, #0f2765 64.4%);
    //   right: 0;
    //   top: 0;
    //   z-index: -1;
    //   pointer-events: none;
    // }
    .single-gallery {
      display: flex;
      @include for-phone {
        display: block;
      }
      &:not(:last-of-type) {
        margin-bottom: 191.7874rem;
      }
      margin-right: 400.6571rem;
      @include for-phone {
        margin-right: 0;
      }
      .img-wrapper {
        width: 1067.9924rem;
        height: 1060.4713rem;
        margin-right: 221.8717rem;
        flex: 0 0 auto;
        @include for-phone {
          width: 100%;
          height: 3320rem;
          margin-right: 0;
          margin-bottom: 300rem;
        }
      }
      .content {
        color: #fff;
        .date {
          background: #ec2028;
          padding: 30.0843rem;
          margin-top: 28.204rem;
          margin-bottom: 94.0134rem;
          @include for-phone {
            padding: 100rem 180rem;
            margin-bottom: 250rem;
          }
          p {
            font-size: 37.6054rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: $bold;
            line-height: 1;
            margin-bottom: 0;
            @include for-phone {
              font-size: 140rem;
            }
          }
        }
        h2 {
          margin-bottom: 69.2241rem;
          font-size: 67.6897rem;
          font-weight: $bold;
          text-transform: uppercase;
          @include for-phone {
            font-size: 200rem;
          }
        }
        p {
          font-size: 45.1264rem;
          margin-bottom: 47.0067rem;
          &:not(:last-of-type) {
            margin-bottom: 30.0843rem;
          }
          @include for-phone {
            font-size: 140rem;
            margin-bottom: 240rem;
          }
        }
        .btn {
          color: #fff;
        }
      }
      &:nth-last-of-type(5) {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 223.7519rem;
          height: 223.7519rem;
          right: -223.7519rem;
          top: 540.8765rem;
          background: url("../../assets/icons/stars-white-bg.svg");
          @include bg-props(cover, center, no-repeat);
          @include for-phone {
            display: none;
          }
        }
      }
      &:nth-last-of-type(-n + 7) {
        //last 6 items
        flex: 0 0 30%;
        width: 30%;
        margin-right: auto;
        flex-direction: column;
        @include for-phone {
          flex: 0 0 100%;
          width: 100%;
          margin-right: 0;
          margin-bottom: 300rem;
        }
        .img-wrapper {
          width: 100%;
          height: 535.8765rem;
          margin-right: 0;
          @include for-phone {
            height: 2040rem;
            margin-bottom: 180rem;
          }
        }
        .content {
          padding: 56.408rem 122.2174rem 94.0134rem 110.9358rem;
          @include for-phone {
            padding-left: 0;
            padding-right: 0;
          }
          h2 {
            font-size: 45.1264rem;
            font-weight: $bold;
            color: #000;
            @include for-phone {
              font-size: 160rem;
            }
          }
          .date {
            margin-bottom: 33.8448rem;
            padding-left: 56.408rem;
            padding-right: 56.408rem;
            @include for-phone {
              margin-bottom: 150rem;
            }
            p {
              display: block;
            }
          }
          p {
            display: none;
          }
          .btn {
            margin-top: 112.8161rem;
            color: #000;
          }
        }
      }
    }
    .back-decorations {
      position: absolute;
      left: 0;
      bottom: 34.25%;
      width: 100%;
      height: 50%;
      background: #0f2765;
      z-index: -99;
      &::before {
        content: "";
        position: absolute;
        top: -16.5%;
        right: 0;
        background: url("../../assets/icons/contact-deco.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 15%;
        height: 834.2136rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background: url("../../assets/icons/flower-deco.svg");
        background-size: 50%;
        background-position: 35% 99%;
        background-repeat: no-repeat;
        width: 15%;
        height: 264.2136rem;
      }
    }
  }
}
.page-template-blog-page {
  @include for-phone {
    .single-page-header {
      padding-top: 0;
      &::before {
        display: none;
      }
    }
  }
}
.blog-archive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding-left: 225.6322rem;
  padding-right: 225.6322rem;
  padding-bottom: 199.3084rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 55%;
    width: 85%;
    background: #08338e;
    z-index: -99;
    @include for-phone {
      z-index: -1;
      width: 100%;
      height: 56.15%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 49.2%;
    width: 15%;
    background: #0f2765;
    z-index: -9;
    @include for-phone {
      display: none;
    }
  }
  .pagination {
    margin-top: 94.0134rem;
    .page-numbers {
      color: #fff;
    }
  }
  .col-6,
  .col-12 {
    flex: 0 0 auto;
  }
  .col-6 {
    width: 50%;
    @include for-phone {
      width: 100%;
    }
  }
  .col-12 {
    width: 100%;
    @include for-phone {
      width: 100%;
    }
  }
  .single-blog {
    @include for-phone {
      flex-direction: column;
      margin-bottom: 280rem;
    }
    .img-wrapper {
      width: 584.7634rem;
      height: 381.6945rem;
      flex: 0 0 auto;
      @include for-phone {
        height: 2160rem;
        width: 100%;
        margin-bottom: 0;
      }
    }
    .content {
      padding-left: 80.8515rem;
      @include for-phone {
        padding-top: 160rem;
        padding-bottom: 300rem;
        background: #fff;
      }
      .date {
        padding: 28.204rem 65.8094rem;
        background: #ec2028;
        margin-bottom: 43.2462rem;
        @include for-phone {
          padding: 100rem 220rem;
        }
        p {
          font-size: 37.6054rem;
          font-weight: $bold;
          text-transform: uppercase;
          color: #fff;
          @include for-phone {
            font-size: 140rem;
          }
        }
      }
      h2 {
        font-size: 33.8448rem;
        text-transform: uppercase;
        font-weight: $bold;
        color: #000;
        margin-bottom: 37.6054rem;
        @include for-phone {
          font-size: 234rem;
        }
      }
    }
  }
  .featured-blog {
    padding-right: 105.295rem;
    .img-wrapper {
      width: 100%;
      height: 942.0144rem;
      margin-bottom: 73.3305rem;
      @include for-phone {
        height: 2160rem;
        margin-bottom: 0;
      }
    }
    .content {
      padding-left: 0;
      @include for-phone {
        padding-bottom: 300rem;
        padding-top: 160rem;
      }
      .date {
        display: none;
      }
      h2 {
        font-size: 67.6897rem;
        margin-bottom: 75.2107rem;
        @include for-phone {
          font-size: 234rem;
        }
      }
    }
  }
  .small-blogs {
    .single-blog {
      display: flex;
      &:not(:last-of-type) {
        margin-bottom: 71.4502rem;
        @include for-phone {
          margin-bottom: 280rem;
        }
      }
    }
  }
  .regular-blogs {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 188.0268rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -400rem;
      right: -220rem;
      background: url("../../assets/icons/contact-deco-croped.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 524rem;
      height: 531.2644rem;
      z-index: -1;
      @include for-phone {
        display: none;
      }
    }
    .single-blog {
      flex: 0 0 auto;
      width: calc(33.33% - 66rem);
      margin-bottom: 60.1686rem;
      @include for-phone {
        width: 100%;
        margin-bottom: 280rem;
      }
      .img-wrapper {
        width: 100%;
        height: 535.8765rem;
        @include for-phone {
          height: 2160rem;
          width: 100%;
          margin-bottom: 0;
        }
      }
      .content {
        padding: 58.2883rem 110.9358rem;
        background: #fff;
        @include for-phone {
          padding-bottom: 300rem;
          padding-top: 160rem;
        }
        h2 {
          font-size: 45.1264rem;
          margin-bottom: 56.408rem;
          @include for-phone {
            font-size: 234rem;
          }
        }
      }
    }
  }
}
body.page-template-blog-page {
  .site-footer {
    margin-top: 0;
    .footer-top {
      &::before {
        display: none;
      }
    }
  }
}
.post-type-archive-newsletter {
  main {
    padding-left: 231.273rem;
    padding-right: 231.273rem;
    padding-bottom: 206.8295rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 85%;
      height: 65%;
      background: #08338e;
      z-index: -1;
      @include for-phone {
        width: 100%;
        bottom: auto;
        top: 2020rem;
        height: calc(100% - 2020rem);
      }
    }
    &::after {
      content: "";
      right: 0;
      bottom: 0;
      position: absolute;
      width: 15%;
      height: 451.2644rem;
      background: #0f2765;
      z-index: -1;
      @include for-phone {
        display: none;
      }
    }
    .back-decorations {
      background: url("../../assets/icons/contact-deco-croped.svg");
      @include bg-props(cover, center, no-repeat);
      position: absolute;
      bottom: -410rem;
      right: -150rem;
      width: 451.2644rem;
      height: 451.2644rem;
      @include for-phone {
        display: none;
      }
    }
    .archive-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 203.069rem;
      position: relative;

      .single-newsletter {
        width: 1005.9435rem;
        flex: 0 0 auto;
        margin-right: 30rem;
        margin-bottom: 65.8094rem;
        @include for-phone {
          width: 100%;
        }
        .img-wrapper {
          width: 100%;
          height: 582.8832rem;
          @include for-phone {
            height: 2020rem;
          }
        }
        .content {
          padding: 54.5278rem 122.2174rem 122.2174rem 112.8161rem;
          background: #fff;
          @include for-phone {
            padding: 180rem 270rem;
          }
          .date {
            background: #ec2028;
            padding: 28.204rem 65.8094rem;
            margin-bottom: 71.4502rem;
            @include for-phone {
              padding: 100rem 200rem;
              margin-bottom: 170rem;
            }
            p {
              color: #fff;
              font-size: 37.6054rem;
              font-weight: $bold;
              @include for-phone {
                font-size: 140rem;
              }
            }
          }
          h2 {
            font-size: 45.1264rem;
            font-weight: $bold;
            margin-bottom: 94.0134rem;
            @include for-phone {
              font-size: 160rem;
              margin-bottom: 350rem;
            }
          }
        }
      }
    }
    .pagination {
      margin-top: 94.0134rem;
      .page-numbers {
        color: #fff;
      }
    }
  }
}

.post-type-archive-events,
.page-template-past-events,
.page-template-embassy-events {
  #primary {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: calc(100% - 1034.1476rem);
      width: 100%;
      background: #0f2765;
      z-index: -1;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: calc(100% - 1034.1476rem);
      width: 402.9052rem;
      height: 447.0526rem;
      background: url("../../assets/icons/contact-deco-croped.svg");
      @include bg-props(cover, center, no-repeat);
    }
    .container {
      width: 3173.8929rem;
      background: #08338e;
      color: #fff;

      .row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;
        padding: 37.6054rem 9.4013rem;
        @include for-phone {
          padding: 100rem 10rem;
          &:not(:first-of-type) {
            &:hover {
              background: rgba(0, 0, 0, 0.05);
            }
          }
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        .col {
          flex: 0 0 auto;
          padding: 9.4013rem;

          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;

          &:not(:last-of-type) {
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            @include for-phone {
              border-right: 0;
            }
          }
          @include for-phone {
            padding: 150rem;
            &:nth-of-type(1),
            &:nth-of-type(3) {
              border-right: 1px solid rgba(0, 0, 0, 0.05);
            }
          }
          h3 {
            font-size: 48.887rem;
            font-weight: $semiBold;
            text-transform: uppercase;
            color: $dblue;
            text-align: left;
            @include for-phone {
              font-size: 160rem;
            }
          }
          &-title {
            width: 40%;
            @include for-phone {
              width: 50%;
            }
            h4 {
              font-size: 41.3659rem;
              color: $dblue;
              @include for-phone {
                font-size: 140rem;
                text-align: center;
              }
            }
          }
          &-date {
            width: 10%;
            @include for-phone {
              width: 50%;
            }
            h5 {
              font-size: 30rem;
              font-weight: $semiBold;
              color: $dblue;
              @include for-phone {
                font-size: 140rem;
                text-align: center;
                font-weight: $regular;
              }
            }
          }
          &-img {
            width: 30%;
            @include for-phone {
              display: none;
            }
            .img-wrapper {
              width: 100%;
              height: 376.0537rem;
              margin-left: auto;
              margin-right: auto;
              @include for-phone {
                width: 1000rem;
                height: 1000rem;
              }
              img {
                object-position: top;
                -o-object-position: top;
                @include for-phone {
                  object-position: center;
                  -o-object-position: center;
                }
              }
            }
          }
          &-btn {
            width: 20%;
            @include for-phone {
              display: none;
            }
          }
          &-full {
            flex: 0 0 100%;
            width: 100%;
            text-align: center;
            h4 {
              font-size: 82.7318rem;
              color: $dblue;
              text-transform: uppercase;
              font-weight: $semiBold;
              @include for-phone {
                font-size: 220rem;
              }
            }
          }
        }
      }
    }
  }
}
