.simple-inner-page-main {
  display: flex;
  flex-wrap: wrap;
  header {
    margin-top: 225.6322rem;
    padding-left: 229.3927rem;
    padding-right: 212.4703rem;
    width: 100%;
    flex: 0 0 100%;
    @include for-phone {
      padding-top: 0;
      display: block;
    }
    &::before {
      display: none;
    }
    .text {
      max-width: 1237.2165rem;
      @include for-phone {
        max-width: 100%;
      }
      h3 {
        font-weight: $regular;
        text-transform: none;
        margin-top: 45.1264rem;
        margin-bottom: 54.5278rem;
      }
      p {
        font-size: 37.6054rem;
        @include for-phone {
          font-size: 160rem;
          margin-bottom: 300rem;
        }
      }
    }
    .img-wrapper {
      width: 1735.4876rem;
      height: 1210.8928rem;
      // flex: 0 0 auto;
      // margin-bottom: -605rem;
      position: absolute;
      right: -150rem;
      bottom: -605rem;
      @include for-phone {
        position: relative;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 2330rem;
        margin-bottom: -50%;
        z-index: 9;
      }
    }
  }
  .container {
    max-width: 3172.0126rem;
    flex: 0 0 auto;
    @include for-phone {
      max-width: 100%;
    }
  }
  .content {
    padding-left: 229.3927rem;
    padding-right: 345.9694rem;
    padding-top: 176.7452rem;
    padding-bottom: 244.4349rem;
    color: #fff;
    background: #08338e;
    @include for-phone {
      padding-top: 1655rem;
      padding-bottom: 1330rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 20rem;
        bottom: 20rem;
        width: 1200rem;
        height: 1200rem;
        background: url("../../assets/icons/contact-deco-croped.svg");
        @include bg-props(cover, center, no-repeat);
      }
    }
    p {
      font-size: 37.6054rem;
      @include for-phone {
        font-size: 160rem;
      }
      &:not(:last-of-type) {
        margin-bottom: 84.6121rem;
        @include for-phone {
          margin-bottom: 340rem;
        }
      }
      &:first-of-type {
        max-width: 1203.3717rem;
        @include for-phone {
          max-width: 100%;
        }
      }
    }
  }
  .side-decoration {
    width: calc(100% - 3172.0126rem);
    flex: 0 0 auto;
    background: #0f2765;
    background: linear-gradient(180deg, white 55%, #0f2765 55%);
    z-index: -1;
    &::before {
      top: auto;
      bottom: -216rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 440.5833rem;
      right: 0;
      width: 215.2907rem;
      height: 428.7012rem;
      background: url("../../assets/icons/chevron-down-decoration.svg");
      @include bg-props(cover, center, no-repeat);
    }
  }
  .gallery {
    padding-top: 242.5546rem;
    padding-left: 229.3927rem;
    background: #0f2765;
    background: linear-gradient(180deg, #0f2765 80%, white 80%);
    margin-bottom: 94.0134rem;
    position: relative;
    @include for-phone {
      background: #0f2765;
      padding-bottom: 530rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 80%;
      left: 0;
      background: #ec2028;
      width: 114.6964rem;
      height: 114.6964rem;
      @include for-phone {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(80% + 114.6964rem);
      left: 114.6964rem;
      background: #08338e;
      width: 114.6964rem;
      height: 114.6964rem;
      @include for-phone {
        display: none;
      }
    }
    .top-bar {
      padding-right: 236.9138rem;
      padding-bottom: 131.6188rem;
      .heading {
        color: #fff;
        span {
          font-weight: inherit;
          font-size: inherit;
          background: $yellow;
          padding: 0 18.8027rem;
          @include for-phone {
            display: block;
            width: fit-content;
            width: -moz-fit-content;
          }
        }
      }
      h3 {
        font-weight: $regular;
        margin-top: 9.4013rem;
        max-width: 1237.2165rem;
        @include for-phone {
          max-width: 100%;
          margin-bottom: 280rem;
        }
      }
      .swiper-button {
        padding: 0;
        color: #0f2765;
        background: #fff;
        cursor: pointer;
        width: 116.5766rem;
        height: 116.5766rem;
        line-height: 116.5766rem;
        text-align: center;
        @include for-phone {
          display: none;
        }
        &:first-of-type {
          margin-right: 33.8448rem;
        }
        &:hover {
          background: $lblue;
        }
      }
    }
    .swiper {
      .swiper-slide {
        height: auto;
        @include for-phone {
          min-height: 2330rem;
          img {
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
  &.no-gallery {
    header {
      flex: 1 0 100%;
      max-width: 100%;
      @include for-phone {
        padding-top: 900rem;
        margin-top: 60rem;
      }
      .text {
        max-width: 2651.1783rem;
        @include for-phone {
          max-width: 100%;
        }
        h2 {
          margin-bottom: 90.2529rem;
        }
      }
      &::before {
        display: block;
      }
    }
    .container {
      max-width: 3172.0126rem;
      flex: 1 0 auto;
      @include for-phone {
        max-width: 100%;
      }
      .content {
        flex: 1 0 auto;
        width: 100%;
        border-right: 1px solid #08338e;
        @include for-phone {
          padding-top: 620rem;
        }
        h2 {
          font-size: 67.6897rem;
          font-weight: $bold;
          padding-bottom: 92.1331rem;
          border-bottom: 5.6408rem solid #fff;
          margin-bottom: 90.2529rem;
          @include for-phone {
            font-size: 240rem;
            margin-bottom: 250rem;
            padding-bottom: 250rem;
          }
        }
        p {
          max-width: 100%;
        }
        .btn {
          font-weight: $bold;
          text-transform: uppercase;
          a,
          strong {
            font-weight: inherit;
          }
        }
      }
    }
    .side-decoration {
      background: #0f2765;
      background: linear-gradient(180deg, white 75%, #0f2765 75%);
      &::after {
        display: none;
      }
      &::before {
        top: 53.2%;
        bottom: auto;
      }
    }
  }
}
