body.single-post,
body.single-podcast {
  header {
    margin-bottom: 176.7452rem;
    padding-left: 455.0249rem;
    padding-right: 455.0249rem;
    @include for-phone {
      padding-top: 0;
      padding-left: 150rem;
      padding-right: 150rem;
      &::before {
        display: none;
      }
    }
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin-bottom: 131.6188rem;

      p.heading {
        font-size: 37.6054rem;
        padding: 28.204rem 65.8094rem;
        @include for-phone {
          padding: 100rem 180rem;
          font-size: 140rem;
        }
      }
      a {
        font-size: 40.689rem;
        font-weight: $bold;
        color: #0f2765;
        @include for-phone {
          display: none;
        }
        i {
          margin-right: 31.9646rem;
        }
        &:hover {
          color: $lblue;
          i {
            color: $lblue;
            margin-right: 45rem;
          }
        }
      }
    }

    .the-content {
      .heading {
        padding: 0;
        margin-bottom: 75.2107rem;
        max-width: 2297.6878rem;
        @include for-phone {
          max-width: 100%;
          font-size: 200rem;
          margin-bottom: 200rem;
        }
      }
      p {
        font-size: 45.1264rem;
        line-height: 1.5;
        &:not(:last-of-type) {
          margin-bottom: 47.0067rem;
        }
      }
    }
    .img-wrapper {
      width: 100%;
      height: auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 455.0249rem;
        height: 1143.2031rem;
        left: -455.0249rem;
        bottom: 0;
        background: url("../../assets/icons/grouped-deco.svg");
        @include bg-props(contain, center, no-repeat);
        @include for-phone {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: -451.2644rem;
        bottom: 0;
        background: url("../../assets/icons/contact-deco-croped.svg");
        @include bg-props(contain, center, no-repeat);
        width: 451.2644rem;
        height: 451.2644rem;
        @include for-phone {
          display: none;
        }
      }
    }
  }
  main {
    padding: 94.0134rem 455.0249rem;
    position: relative;
    overflow: hidden;
    @include for-phone {
      padding: 100rem 150rem;
    }
    .alignleft {
      float: left;
      margin: 1em 1em 2em 0;
    }
    .aligncenter {
      display: block;
      margin: 1em auto;
    }
    .alignright {
      float: right;
      margin: 1em 0 2em 1em;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      @include ver-center();
      background: url("../../assets/icons/blog-content-deco.svg");
      @include bg-props(contain, center, no-repeat);
      width: 455.0249rem;
      height: 686.2979rem;
      @include for-phone {
        display: none;
      }
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    li {
      max-width: 2297.6878rem;
      @include for-phone {
        max-width: 100%;
      }
    }
    figure.wp-block-image {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    p {
      font-size: 37.6054rem;
      img {
        max-width: 100%;
        height: auto;
      }
      @include for-phone {
        font-size: 160rem;
      }
      &:not(:last-of-type) {
        margin-bottom: 56.408rem;
        @include for-phone {
          margin-bottom: 160rem;
        }
      }
      a {
        color: $lblue;
        strong,
        b {
          font-weight: $bold;
          color: $lblue;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      strong,
      b {
        font-weight: $bold;
        font-size: inherit;
      }
    }
    h1 {
      font-size: 48.887rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 260rem;
      }
    }
    h2 {
      font-size: 45.1264rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 240rem;
      }
    }
    h3 {
      font-size: 41.3659rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 220rem;
      }
    }
    h4 {
      font-size: 37.6054rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 200rem;
      }
    }
    h5 {
      font-size: 33.8448rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 180rem;
      }
    }
    h6 {
      font-size: 30.0843rem;
      font-weight: $bold;
      margin-bottom: 33.8448rem;
      @include for-phone {
        font-size: 160rem;
      }
    }
    iframe {
      margin: 84.6121rem auto;
    }
  }
}
