.site-footer {
  margin-top: 244.4349rem;
  @include for-phone {
    margin-top: 650rem;
  }
  .footer-top {
    padding-top: 259.477rem;
    padding-bottom: 184.6121rem;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    @include for-phone {
      flex-direction: column;
      flex-wrap: wrap;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include hor-center();
      height: 5.6408rem;
      width: 81%;
      background: $dblue;
    }
    .col {
      flex: 0 0 16.5%;
      width: 16.5%;
      &:nth-of-type(1) {
        flex: 0 0 806.6351rem;
        width: 806.6351rem;
        margin-right: 428.7012rem;
      }
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 400rem;
        &:nth-of-type(1) {
          flex: 0 0 100%;
          width: 100%;
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
          flex: 0 0 50%;
          width: 50%;
        }
      }
      #footer-extras-menu {
        @include for-phone {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
        }
        li {
          margin-bottom: 71.4502rem;
          @include for-phone {
            &:not(:last-of-type) {
              margin-right: 690rem;
            }
          }
          a {
            font-weight: $bold;
            color: #08338e;
            font-size: 33.8448rem;
            @include for-phone {
              font-size: 160rem;
            }
          }
        }
      }
    }
    p {
      font-size: 37.6054rem;
      line-height: 2.5;
      @include for-phone {
        font-size: 145rem;
      }
    }
    .logo-image {
      width: 752.1073rem;
      height: 184.2663rem;
      margin-bottom: 50.7672rem;
      img {
        @include fullSizeImg(cover);
      }
      @include for-phone {
        width: 2380rem;
        height: 580rem;
        margin-bottom: 360rem;
      }
    }

    h2 {
      font-weight: $bold;
      color: #08338e;
      font-size: 33.8448rem;
      margin-bottom: 71.4502rem;
      @include for-phone {
        font-size: 160rem;
      }
      a {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      max-width: 90%;
      li,
      li a {
        font-size: 33.8448rem;
        color: #08338e;
        line-height: 1.25;
        font-weight: $bold;
        @include for-phone {
          font-size: 160rem;
        }
      }
      li {
        &:not(:last-of-type) {
          margin-bottom: 56.408rem;
          @include for-phone {
            margin-bottom: 200rem;
          }
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        &.menu-item-has-children {
          .sub-menu {
            padding-top: 47.0067rem;
            li {
              &:not(:last-of-type) {
                margin-bottom: 30.0843rem;
              }
              a {
                font-weight: $regular;
                color: #000;
              }
            }
          }
        }
      }
    }
    @include for-phone {
      .wp-block-columns {
        .wp-block-column {
          &:nth-of-type(2) {
            margin-top: 350rem;
          }
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            flex-basis: 50% !important;
            margin-top: 350rem;
          }
          &:nth-of-type(5) {
            display: flex;
            flex-wrap: wrap;
            h2 {
              margin: 0 0 350rem 0;
              flex-basis: 50%;
              width: 50%;
            }
            .wp-block-image {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .footer-middle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 188.0268rem;

    .app-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex: 0 0 auto;
      max-width: 50%;
      @include for-phone {
        max-width: 100%;
        flex: 0 0 100%;
      }
      a {
        width: 362.8918rem;
        height: 112.8161rem;
        display: block;
        @include for-phone {
          width: 1257rem;
          height: 388rem;
        }
        &:nth-of-type(1) {
          margin-right: 43.2462rem;
          @include for-phone {
            margin-right: 182rem;
          }
        }
        img {
          @include fullSizeImg(cover);
        }
        &:hover {
          transform: scale(1.1);
          @include for-phone {
            transform: scale(1);
          }
        }
      }
    }
    .form-wrapper {
      outline-offset: 25rem;
      @include for-phone {
        flex: 0 0 100%;
        width: 100%;
        margin-top: 250rem;
        outline: none;
      }
      br {
        display: none;
      }
      label {
        font-size: 33.8448rem;
        font-weight: $bold;
        display: block;
        color: #0f2765;
        @include for-phone {
          font-size: 160rem;
        }
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        .col {
          flex: 0 0 auto;
          position: relative;
          @include for-phone {
            flex: 0 0 100%;
            width: 100%;
          }
          &:first-of-type {
            width: 838.5997rem;
            margin-right: 50.7672rem;
            @include for-phone {
              width: 100%;
              margin-right: 0;
            }
          }
          &:last-of-type {
            width: 376.0537rem;
            flex: 0 0 376.0537rem;
            @include for-phone {
              flex: 0 0 100%;
              width: 100%;
            }
            button {
              border: none;
              box-shadow: none;
              background: #ea1d27;
              font-size: 33.8448rem;
              font-weight: $bold;
              color: #fff;
              cursor: pointer;
              // padding: 37.6054rem 71.4502rem;
              width: 376.0537rem;
              height: 112.8161rem;
              @include for-phone {
                width: 100%;
                height: auto;
                padding: 150rem 250rem;
                font-size: 160rem;
                margin-top: 150rem;
              }
              i {
                margin-left: 65.8094rem;
              }
            }
            .ajax-loader {
              position: absolute;
            }
          }
        }
      }

      input {
        &[type="email"] {
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 5.6408rem;
          border-color: #08338e;
          border-style: solid;
          font-size: 33.8448rem;
          font-weight: $regular;
          color: #000;
          padding: 18.8027rem 1.8803rem;
          @include borderRadius(0rem);
          width: 100%;
          @include for-phone {
            font-size: 160rem;
            padding: 150rem 10rem;
          }
        }
      }
    }
  }
  .footer-bottom {
    position: relative;
    background: #08338e;
    color: #fff;
    padding-top: 33.8448rem;
    padding-bottom: 33.8448rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 600rem;
    @include for-phone {
      flex-wrap: wrap;
      padding-top: 360rem;
      padding-bottom: 750rem;
      padding-left: 200rem;
      padding-right: 200rem;
      p,
      ul {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;
      }
    }
    p {
      font-size: 30.0843rem;
      line-height: 1.53;
      letter-spacing: -0.01em;
      @include for-phone {
        font-size: 140rem;
        order: 2;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      @include for-phone {
        order: 1;
        justify-content: center;
        margin-bottom: 250rem;
      }
      li {
        &:not(:last-of-type) {
          margin-right: 197.4282rem;
        }
        a {
          color: #fff;
          font-size: 30.0843rem;
          @include for-phone {
            font-size: 140rem;
          }
          &:hover {
            color: $lblue;
          }
        }
      }
    }
    .footer-signature {
      position: absolute;
      right: 130rem;
      @include ver-center();
      @include for-phone {
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        right: auto;
        left: 50%;
        top: auto;
        bottom: 250rem;
      }
      a {
        display: block;
        width: 60.1686rem;
        height: 60.1686rem;
        position: relative;
        @include for-phone {
          width: 320rem;
          height: 320rem;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../../assets/img/digital-present.svg");
          @include bg-props(contain, center, no-repeat);
        }
        &:hover {
          &::before {
            -webkit-animation: rotate-scale-up 0.65s linear both;
            animation: rotate-scale-up 0.65s linear both;
          }
        }
      }
    }
  }
}

.subscribe-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 47.0067rem 65.8094rem;
  background: #034ea1;
  width: 564.0805rem;
  z-index: 999;
  display: none;
  transition: 0s;
  a {
    position: relative;
    font-size: 31.3659rem;
    color: #fff;
    font-weight: $semiBold;
    padding-left: 122.2174rem;
    display: block;
    line-height: 1.3;
    &:hover {
      color: $yellow;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      @include ver-center();
      width: 103.4148rem;
      height: 125.978rem;
      background: url("../../assets/icons/sub-icon.svg");
      @include bg-props(cover, center, no-repeat);
    }
  }
}

.page-template-contact-template,
.page-template-better-eu-template,
.page-template-simple-inner-page,
.page-template-mobile-app-template,
.page-template-culture-matters-template,
.post-type-archive-newsletter,
.gallery-template-default {
  .site-footer {
    margin-top: 0;
    .footer-top {
      &::before {
        display: none;
      }
    }
  }
}
