.site-footer {
  margin-top: 244.4349rem;
  @include for-phone {
    margin-top: 650rem;
  }
  .footer-top {
    padding-top: 259.477rem;
    padding-bottom: 188.0268rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      @include hor-center();
      height: 5.6408rem;
      width: 81%;
      background: $dblue;
    }
    p {
      font-size: 37.6054rem;
      line-height: 2.5;
      @include for-phone {
        font-size: 160rem;
      }
    }
    .logo-image {
      width: 752.1073rem;
      height: 184.2663rem;
      margin-bottom: 50.7672rem;
      img {
        @include fullSizeImg(cover);
      }
      @include for-phone {
        width: 2380rem;
        height: 580rem;
        margin-bottom: 360rem;
      }
    }
    .app-store-logo {
      width: 389.2155rem;
      height: 120.3372rem;
      &:hover {
        transform: scale(1.1);
      }
      &:first-of-type {
        margin-bottom: 30.0843rem;
        @include for-phone {
          margin-bottom: 0;
          margin-right: 180rem;
        }
      }
      @include for-phone {
        width: 1256rem;
        height: 380rem;
        display: inline-block;
      }
      img {
        @include fullSizeImg(cover);
      }
    }
    h2 {
      font-weight: $bold;
      color: #08338e;
      font-size: 33.8448rem;
      margin-bottom: 71.4502rem;
      @include for-phone {
        font-size: 160rem;
      }
      a {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      max-width: 95%;
      li,
      li a {
        font-size: 33.8448rem;
        color: #000;
        line-height: 1.25;
        @include for-phone {
          font-size: 160rem;
        }
      }
      li {
        &:not(:last-of-type) {
          margin-bottom: 56.408rem;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    @include for-phone {
      .wp-block-columns {
        .wp-block-column {
          &:nth-of-type(2) {
            margin-top: 350rem;
          }
          &:nth-of-type(3),
          &:nth-of-type(4),
          &:nth-of-type(5) {
            flex-basis: 50% !important;
            margin-top: 350rem;
          }
          &:nth-of-type(5) {
            display: flex;
            flex-wrap: wrap;
            h2 {
              margin: 0 0 350rem 0;
              flex-basis: 50%;
              width: 50%;
            }
            .wp-block-image {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    position: relative;
    background: #08338e;
    color: #fff;
    padding-top: 33.8448rem;
    padding-bottom: 33.8448rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @include for-phone {
      flex-wrap: wrap;
      padding-top: 360rem;
      padding-bottom: 750rem;
      padding-left: 200rem;
      padding-right: 200rem;
      p,
      ul {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;
      }
    }
    p {
      font-size: 30.0843rem;
      line-height: 1.53;
      letter-spacing: -0.01em;
      @include for-phone {
        font-size: 140rem;
        order: 2;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      @include for-phone {
        order: 1;
        justify-content: center;
        margin-bottom: 250rem;
      }
      li {
        &:not(:last-of-type) {
          margin-right: 197.4282rem;
        }
        a {
          color: #fff;
          font-size: 30.0843rem;
          @include for-phone {
            font-size: 140rem;
          }
          &:hover {
            color: $lblue;
          }
        }
      }
    }
    .footer-signature {
      position: absolute;
      right: 130rem;
      @include ver-center();
      @include for-phone {
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        right: auto;
        left: 50%;
        top: auto;
        bottom: 250rem;
      }
      a {
        display: block;
        width: 60.1686rem;
        height: 60.1686rem;
        position: relative;
        @include for-phone {
          width: 320rem;
          height: 320rem;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("https://www.digitalpresent.io/static/media/symbol.a2b7a5f4.svg");
          @include bg-props(contain, center, no-repeat);
        }
        &:hover {
          -webkit-animation: rotate-scale-up 0.65s linear both;
          animation: rotate-scale-up 0.65s linear both;
        }
      }
    }
  }
}

.page-template-contact-template,
.page-template-better-eu-template,
.page-template-simple-inner-page,
.page-template-mobile-app-template,
.page-template-culture-matters-template,
.post-type-archive-newsletter,
.gallery-template-default {
  .site-footer {
    margin-top: 0;
    .footer-top {
      &::before {
        display: none;
      }
    }
  }
}
