#masthead {
  padding: 0 229.39273rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  z-index: 9999;
  @include for-phone {
    perspective: 1000px;
    padding: 150rem 220rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    #mob-menu-trigger {
      width: 210rem;
      height: 124rem;
      position: relative;
      span {
        display: block;
        background: #0f2765;
        width: 100%;
        height: 23rem;
        position: absolute;
        border-radius: 10px;
        left: 0;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          @include ver-center();
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.active {
        span {
          &:nth-of-type(1) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            -moz-transform: translate(-50%, -50%) rotate(45deg);
            -webkit-transform: translate(-50%, -50%) rotate(45deg);
          }
          &:nth-of-type(2) {
            width: 0;
          }
          &:nth-of-type(3) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            -moz-transform: translate(-50%, -50%) rotate(-45deg);
            -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
  &.sticky {
    @include for-phone {
      background: #fff;
      backdrop-filter: blur(0);
      -webkit-backdrop-filter: blur(0);
    }
  }
  .logo-wrapper {
    width: 426.820899rem;
    height: 103.414755rem;
    @include for-phone {
      width: 1230rem;
      height: 300rem;
    }
  }
  #primary-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    @include for-phone {
      padding: 0;
      position: fixed;
      display: block;
      z-index: 999;
      background: #fff;
      top: 600rem;
      left: 0;
      width: 100%;
      box-shadow: 0 30rem 60rem rgba(0, 0, 0, 0.16);
      display: none;
      perspective: 1000px;
      animation: rotateMenu 400ms ease-in-out forwards;
      transform-origin: top center;
      &.active {
        padding-bottom: 616rem;
        display: block;
        max-height: 80vh;
        overflow-y: auto;
        animation: rotateMenu 400ms ease-in-out backwards;
      }
    }
    li {
      position: relative;
      line-height: 176.485634rem;
      perspective: 1000px;
      @include for-phone {
        line-height: 1;
        padding: 240rem 0;
      }
      &:after {
        height: 24.4435rem;
        background: #08338e;
        bottom: -3rem;
      }
      &:not(:last-of-type) {
        margin-right: 174.86495rem;
        @include for-phone {
          margin-right: 0;
          margin-bottom: 0;
          // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
      }
      &.wpml-ls-item {
        display: none;
        .wpml-ls-flag {
          width: 36rem;
          height: 25rem;
          object-fit: contain;
          -o-object-fit: contain;
          -o-object-position: center;
          object-position: center;
        }
        .wpml-ls-native {
          font-weight: $bold;
          text-transform: uppercase;
        }
        @include for-phone {
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50%;
          text-align: center;
          &.wpml-ls-current-language {
            background: #f2f2f2;
          }
          .sub-menu-trigger {
            display: none;
          }
          a {
            .wpml-ls-native {
              font-weight: $bold;
            }
          }
        }
        a {
          .wpml-ls-native {
            display: none;
            @include for-phone {
              display: inline-block;
            }
          }
        }
        .sub-menu {
          width: 206rem;
          @include for-phone {
            display: block !important;
            position: absolute;
            right: -100%;
            width: 100%;
            height: 100%;
            padding-top: 0;
            top: 0;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
          }
          a {
            .wpml-ls-native {
              display: inline-block;
              font-weight: $bold;
              text-transform: uppercase;
            }
          }
        }
      }
      a {
        font-size: 30.084292rem;
        font-weight: $bold;
        letter-spacing: 0.02em;
        color: $dblue;
        display: block;
        line-height: 176.485634rem;
        @include for-phone {
          font-size: 160rem;
          padding: 0 200rem;
          font-size: 140rem;
        }
      }
      &.menu-item-has-children {
        &:hover {
          .sub-menu {
            @media screen and (min-width: 800px) {
              display: block;
            }
          }
        }
        @include for-phone {
          .sub-menu-trigger {
            display: block;
            width: 140rem;
            height: 140rem;
            position: absolute;
            top: 260rem;
            right: 200rem;
            line-height: 140rem;
            text-align: center;
            transition: 0s;
            i {
              font-size: 120rem;
            }

            &.active {
              i {
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
              }
            }
          }
          &.wpml-ls-item {
            .sub-menu-trigger {
              display: none;
            }
          }
        }
      }
      .sub-menu {
        position: absolute;
        z-index: 99;
        box-shadow: 0 5.6408rem 11.2816rem rgba(8, 51, 142, 0.16);
        background: #fff;
        perspective: 1000px;
        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;
        display: none;
        min-width: 286.0537rem;
        padding: 77.091rem;
        border: 1.8803rem solid #08338e;
        @include for-phone {
          position: relative;
          transform: scaleY(1);
          -moz-transform: scaleY(1);
          -webkit-transform: scaleY(1);
          display: none;
          padding: 200rem 0 0 0;
          box-shadow: none;
          transition: 0s;
          border: none;
        }
        li {
          line-height: 1.1;
          padding: 0;
          width: 100%;
          @include for-phone {
            padding: 0 200rem;
          }
          &::after {
            display: none;
          }
          &:not(:last-of-type) {
            // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 60.1686rem;
            padding-bottom: 0;
            padding-top: 0;
            @include for-phone {
              margin-bottom: 150rem;
              padding-bottom: 150rem;
            }
          }
          a {
            font-size: 30.0843rem;
            line-height: 1;

            @include for-phone {
              font-size: 140rem;
              padding: 0;
              text-transform: capitalize;
              font-size: 140rem;
              font-weight: $medium;
            }
            &:hover {
              color: $lblue;
            }
          }
          &.menu-item-has-children {
            padding-bottom: 0;
            padding-top: 0;
            @include for-phone {
              padding-bottom: 150rem;
              .sub-menu-trigger {
                top: 0;
              }
            }
            .sub-menu {
              // display: block;
              position: relative;
              box-shadow: none;
              background: transparent;
              padding: 0;
              margin-top: 31.9646rem;
              border: none;
              @include for-phone {
                display: none;
              }
              li {
                padding-left: 0;
                border-bottom: none;
                padding: 0;
                margin-bottom: 0;
                @include for-phone {
                  &:first-of-type {
                    margin-top: 160rem;
                  }
                }
                &:not(:last-of-type) {
                  margin-bottom: 30.0843rem;
                  @include for-phone {
                    margin-bottom: 90rem;
                  }
                }
                a {
                  font-weight: $regular;
                }
              }
            }
          }
        }
      }
    }
  }
  .lang-switcher-mob {
    display: none;
    @include for-phone {
      display: flex;
    }
  }
}

#social-links {
  position: fixed;
  right: 0;
  top: 470rem;
  z-index: 99;
  @include for-phone {
    display: none;
  }
  li {
    margin: 0;
    a {
      padding: 48.886975rem;
      display: block;
      text-align: center;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 5.640805rem 11.28161rem rgba(0, 0, 0, 0.3);
      }
      &:active {
        transform: scale(0.9);
      }
      i {
        font-size: 41.365902rem;
        color: #fff;
      }
      &.fb {
        background: #133463;
      }
      &.ig {
        background: #253d92;
      }
      &.tw {
        background: #08338e;
      }
      &.yt {
        background: #0a1b4a;
      }
    }
  }
}

#to-top {
  @include borderRadius(50%);
  background: #fff;
  border: 1.880268rem solid $dblue;
  bottom: 37.605366rem;
  color: $dblue;
  font-size: 37.605366rem;
  height: 65.80939rem;
  line-height: 65.80939rem;
  padding: 0;
  position: fixed;
  right: 37.605366rem;
  text-align: center;
  transition: 0s;
  width: 65.80939rem;
  z-index: 999;
  display: none;
  &:hover {
    background: $dblue;
    color: #fff;
  }
}
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  transition: 0s;
  z-index: 99999;
}

body.menu-opened {
  position: relative;
  overflow-y: hidden;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 9;
  }
}
